<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <style>
    .hero-list img {
      width: 50px;
      height: 50px;
      display: block
    }

    .hero-list td {
      height: 50px;
      line-height: 50px;
    }
  </style>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1>王者荣耀 <small>英雄管理器</small></h1>

      <a href="javascript:void(0);" class="btn btn-exit btn-primary" hidden style='float:right;'>退出</a>
      <a href="login.html" class="btn btn-login btn-success" style='float:right'>登录</a>
    </div>
  </header>
  <div class="container hero-list">
    <a class="btn btn-add btn-success pull-right" hidden href="./add.html">添加英雄</a>
    <table class="table table-hover" hidden>
      <thead>
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>性别</th>
          <th>头像</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <!-- <tr>
          <td>1</td>
          <td>狗蛋</td>
          <td>男</td>
          <td><img src="../static/images/0.jpg"></td>
          <td><a href="./edit.html?id=1">修改</a> 
            <a data-id="1" href="javscript:void(0);">删除</a>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            你确定要删除吗？
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">确定</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">提示</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            信息
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>


</body>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/template-web.js"></script>
<script src="../static/js/ajax.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script>
  $(function () {
    // 先判断根据本地存储数据 判断用户是否已经登录过
    let userId = localStorage.getItem('userId');
    if (!userId) {
      alert('你还没有登录，请先登录后在操作');
      location.href = './login.html';
      return;
    } else {
      // 就是登录了 但是 不知道登录有没有过期 还要用ajax来验证一下
      $.ajax({
        url: 'http://127.0.0.1:8080/isLogin',
        type: 'get',
        data: 'id=' + userId,
        success: function (res) {
          if (res.code === 200) {
            // 把登录按钮隐藏
            $(".page-header a:last-child").attr('hidden', true);
            // 把一些该显示的显示
            $('.page-header a:nth-child(2),.hero-list a:first-child,table').removeAttr('hidden');
            // 如果登录成功了，继续到服务器获取要展示的英雄数据
            $.ajax({
              url: 'http://127.0.0.1:8080/getAllHero',
              type: 'post',
              success: function (res) {
                if (res.code === 200) {
                  // 渲染数据
                  let str = template('tp', res.data);
                  $('#tbody').append(str);
                }
              }
            })
          }else{
            // 表示近期没有登录过
            alert('你的登录已过期，请重新登录');
            location.href = './login.html';
          }
        }
      })
    }


    // // 显示隐藏
    // $('.btn-login').attr('hidden', true);
    // $(".btn-exit").attr('hidden', false);
    // $(".btn-add").attr('hidden', false);
    // $(".table").attr('hidden', false);

    // // 使用ajax请求数据
    // ajax({
    //   url: 'http://127.0.0.1:8080/getAllHero',
    //   type: 'post',
    //   callback: function (res) {
    //     // console.log(res);
    //     res = JSON.parse(res);
    //     if (res.code === 200) {
    //       // 渲染数据
    //       let html = template('tp', res.data);
    //       $('tbody').append(html);
    //     }
    //   }
    // })


    // 实现删除
    // a标签都是动态生成的 - 要委托的实现 - 学习了异步编程之后，所有动态生成的元素，都需要使用委托实现注册
    // $('td > a:last-child').on('click',function(){
    //   console.log(123);
    // })

    let id;
    let _this;
    $('#tbody').on('click', 'a:last-child', function () {
      // 根据id 删除数据   
      id = $(this).attr('data-id');
      // 把对应的this使用闭包存储起来
      _this = this;
      // 需要让页面弹出一个确认框
      // js原生自带的弹框比较丑，更加建议自己写一个，或者是用别人的
      // bootstrap4里面提供了一个弹出框
      $('#modelId').modal();
      // 注意千万不要在这里给确定按钮注册事件，在这个事件的外面
    })
    $('.modal-footer > button:last-child').on('click', function () {
      // 先把之前的确认框隐藏
      $('#modelId').modal('hide');
      // 点击了确定了 要把数据删除
      $.ajax({
        url: 'http://127.0.0.1:8080/deleteHeroById',
        data: { id: id },
        success: function (res) {
          if (res.code == 200) {
            // 先修改提示
            $("#alert .container-fluid").text(res.msg);
            // 弹框提示
            $('#alert').modal();
            // 把对应的行移除
            $(_this).parents('tr').remove();
          }
        }
      });
    })
  });

</script>
<script type="text/tempalte" id="tp">
{{ each $data val }}
  <tr>
    <td>{{val.id}}</td>
    <td>{{val.name}}</td>
    <td>{{val.gender}}</td>
    <td><img src="../static/images/{{val.img}}"></td>
    <td><a href="./edit.html?id={{val.id}}">修改</a> 
      <a data-id="{{val.id}}" href="javscript:void(0);">删除</a>
    </td>
  </tr>
{{/each}}
</script>
<script type="text/template" id="tp">
{{ each $data val}}
<tr>
  <td>{{val.id}}</td>
  <td>{{val.name}}}</td>
  <td>{{val.gender}}</td>
  <td><img src="../static/images/{{val.img}}}"></td>
  <td><a href="./edit.html?id=1">修改</a> 
    <a data-id="1" href="javscript:void(0);">删除</a>
  </td>
</tr>
{{ /each }}
</script>

</html>